.body-element {
    background-color: #d39cd9;
}

.container {
    background-color: #d39cd9;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.welcome-headline {
    padding: 1em;
}

.flag {
    border: 6px solid black;
    border-radius: 1em;
    filter: grayscale();
    width: 20em;
    margin-bottom: 3em;
}

.flag:hover {
    filter: none;
}

.flag-canada {
    width: 24em;
}

.flag-ireland {
    width: 26em;
}

.footer-background {
    background-color: #d39cd9;
}
