.main{
  display: flex;
  flex-direction: column;
}

.main__image{
  align-self: center;
  margin-top: 0.75em;
}

.main__image img {
  border-radius: 1em;
  width: 700px;
}

h1{
  text-align: center;
}

.lists{
  display:flex;
  justify-content: center;
  text-align: center;
}

.lists__list{
  flex-basis: 30%;
  margin: 25px;
  background-color: #CC87DA;
  border-radius: 1em;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.lists__list h3 {
  margin-top: 3px;
}

.lists__list a {
  text-decoration: none;
  color: #000;
}

.lists__list a:hover{
  color: #555;
}

.lists__list ul {  
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}


