@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.header {
  display: flex;
  align-items: center;
  background-color: #CC87DA;
  margin-bottom: 0.5em;
}

.header img {
  width: 120px;
  margin-left: 1em;
}

.header__container {
  margin-right: 120px;
  margin-bottom: 0.75em;
  justify-self: center;
  width: 100%;
}

.site-title h1 {
  font-family: 'Metal Mania', cursive;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__btn {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  margin: 0 1em;
}

.nav__btn:hover {
  color: #555555;
}

.nav__btn--active {
  border-bottom: 2px solid black;
}

.nav__btn--active:hover {
  border-bottom: 2px solid #555555;
}



